<template>
<div class="collections-entry entry">
  <div class="entry-content">
    <div class="entry-content-main">
      {{collection.name}}
    </div>
    <div class="entry-content-smurf">
    </div>
  </div>
  <div class="entry-control">
    <div class="entry-control-part">
      <img class="entry-control-button"
           :class = "shown?'entry-control-button-active':''"
           src="../../assets/buttons/showButton.png" alt="show" @click="show">
      <div class="entry-control-button-placeholder"></div>
    </div>
    <div class="entry-control-part">
      <img class="entry-control-button"
           :class = "active?'entry-control-button-active':''"
           src="../../assets/buttons/activateButton.png" alt="activate" @click="toggleActivated">
      <div class="entry-control-button-placeholder"></div>
    </div>
    <div class="entry-control-part">
      <img class="entry-control-button" src="../../assets/buttons/playButton.png" alt="play" @click="play">
      <DeleteButton :delete-function="remove"></DeleteButton>
      <!--
      <img class="entry-control-button" src="../../assets/buttons/deleteButton.png" alt="delete" @click="remove">
      -->
    </div>
  </div>
</div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";
import {eventBus} from "@/main";
import constants from "@/js/types/event-types";
import Collection from "@/js/classes/collection";
import DeleteButton from "@/components/delete/DeleteButton";

export default {
  name: "CollectionsEntry",
  components: {DeleteButton},
  props: {
    collection: {
      type: Collection,
      required: true
    }
  },
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters({
      isCollectionActivated: "isCollectionActivated",
      isCollectionShown: "isCollectionShown",
    }),
    active() {
      return this.isCollectionActivated(this.collection.id);
    },
    shown() {
      return this.isCollectionShown(this.collection.id);
    },
  },
  methods: {
    ...mapActions({
      toggleCollection: "toggleCollection",
      setShowCollectionId: "setShowCollectionId",
    }),
    show() {
      if (this.shown) {
        this.setShowCollectionId(null);
      } else {
        this.setShowCollectionId(this.collection.id);
      }
    },
    toggleActivated() {
      this.toggleCollection(this.collection);
    },
    play() {
      const videos = this.collection.videos;
      if (videos.length === 0) {
        alert("Can't play videos from this collection because it is empty!");
        return;
      }
      let index = Math.floor((Math.random() * videos.length));
      eventBus.$emit(constants.EVENT_PLAY_VIDEO, videos[index]);
    },
    remove() {
      this.$store.dispatch("removeCollection", this.collection.id);
    }
  }
}
</script>

<style scoped>
</style>
