<template>
  <div class="collections-add">
    <div class="entry add-form" v-if="active">
      <form>
        <table>
          <tr>
            <td class="add-form-legend-td"><label class="add-form-legend">name:</label></td>
            <td class="add-form-field-td"><input class="add-form-field add-form-field-short" type="text" required v-model="name"></td>
          </tr>
        </table>
        <div class="add-form-buttons">
          <img class="entry-control-button add-form-abort-button" src="../../assets/buttons/removeButton.png" alt="abort" @click="deactivate">
          <img class="entry-control-button add-form-submit-button" src="../../assets/buttons/checkButton.png" alt="submit" @click="submit">
        </div>
      </form>
    </div>
    <div class="wide-button add-button" v-else @click="activate">
      <img class="wide-button-image" src="../../assets/buttons/addButton.png" alt="activate-add-form">
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Collection from "@/js/classes/collection";

export default {
  name: "CollectionsAdd",
  data() {
    return {
      active: false,
      name: null,
    }
  },
  computed: {
    ...mapGetters({
    }),
  },
  methods: {
    ...mapActions({
      newCollection: "newCollection",
    }),
    reset() {
      //this.active = false:
      this.name = null;
    },
    activate() {
      this.active = true;
    },
    deactivate() {
      this.active = false;
    },
    submit() {
      const collection = new Collection("", this.name, []);
      this.newCollection(collection);
      this.reset();
    },
  },
}
</script>

<style scoped>
.collections-add {

}
</style>