<template>
<div class="collections wrapper">
  <div class="wrapper-headline">collections</div>
  <ul class="entry-ul">
    <li class="entry-li" v-for="(collection, index) in collections" :key="index">
      <CollectionsEntry :collection="createCollection(collection.id, collection.name, collection.videos)"></CollectionsEntry>
    </li>
  </ul>
  <CollectionsAdd></CollectionsAdd>
</div>
</template>

<script>
import {mapGetters} from "vuex";
import CollectionsEntry from "@/components/collections/CollectionsEntry";
import Collection from "@/js/classes/collection";
import CollectionsAdd from "@/components/collections/CollectionsAdd";

export default {
  name: "Collections",
  components: {
    CollectionsAdd,
    CollectionsEntry
  },
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters({
      collections: "getCollections",
    }),
  },
  methods: {
    createCollection(id, name, videos) {
      return new Collection(id, name, videos);
    }
  },
}
</script>

<style scoped>
</style>