.add-button {
    width: 398px;
    margin: 10px 10px 10px 10px;
}
.add-button:hover {
    background-color: #72ffcd;
}
.add-form {
    height: auto;
    width: 400px;
}
.add-form-legend {
}

.add-form-legend-td {
    text-align: left;
    width: 150px;
}
.add-form-field-td {
    horiz-align: right;
}

.add-form-field {
    width: 250px;
}
.add-form-field-short {
}
.add-form-field-long {
}

.add-form-buttons {
    width: 400px;
    height: 30px;
    text-align: right;
}
.add-form-abort-button {
    display: inline-block;
}
.add-form-submit-button {
    display: inline-block;
}
.add-form-submit-button:hover {
    background-color: #72ffcd;
}