html {
}
head {
}
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.wrapper {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    background-color: #20d99b;
}
.wrapper-headline {
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    margin: 25px 0 25px 0;
    width: 420px;
}
.entry-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.entry-li {
}
.entry {
    width: 400px;
    height: 62px;
    display: block;
    margin: 0 10px 10px 10px;
    background-color: #46ffc0;
}
.entry-content {
    display: table-cell;
    width: 100%;
    text-align: left;
    vertical-align: top;
    padding: 5px 5px 0 5px;
}
.entry-content-main {
    display: inline;
    font-weight: bold;
}
.entry-content-smurf {
    display: inline;
}
.entry-control {
    display: table-cell;
}
.entry-control-part {
    display: table-cell;
}
.entry-control-button {
    display: block;
    height: 25px;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    border: 1px solid #484848;
}
.entry-control-button:active {
    padding: 4px 2px 0 2px;
}
.entry-control-button:hover {
    background-color: #72ffcd;
}
.entry-control-button-active {
    background-color: #20d99b;
}
.entry-control-button-active:hover {
    background-color: #20d99b;
}
.entry-control-button-placeholder {
    display: block;
    border: 0;
    height: 31px;
}

.non-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


.wide-button {
    padding: 6px 0 6px 0;

    border: 1px solid #484848;

    cursor: pointer;

    background-color: #46ffc0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.wide-button:active {
    padding: 8px 0 4px 0;
}
.wide-button-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}
