<template>
  <div id="home">
    <Collections></Collections>
    <Collection></Collection>
    <Player></Player>
  </div>
</template>

<script>
import Collections from "@/components/collections/Collections";
import Player from "@/components/player/Player";
import Collection from "@/components/collection/Collection";

export default {
  name: 'Home',
  components: {
    Collection,
    Player,
    Collections
  },
  data() {
    return {
    }
  },
  created() {
  },
  methods: {
  }
}
</script>

<style>

</style>
