<template>
  <div class="login">
    <div class="wrapper login-wrapper">
      <form class="login-form" @submit.prevent="register">
        <div class="login-form-entry">
          <label for="email">e-mail</label>
          <input type="text" id="email" v-model="email" placeholder="optional">
        </div>
        <div class="login-form-entry">
          <label for="userName">username</label>
          <input type="text" id="userName" v-model="userName">
        </div>
        <div class="login-form-entry">
          <label for="password">password</label>
          <input type="text" id="password" v-model="password">
        </div>
        <div class="login-form-entry">
          <input type="submit" id="submit" value="register">
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import {RouteTypes} from "@/js/types/route-types";

export default {
  name: "Register",
  data() {
    return {
      email: null,
      userName: null,
      password: null,
    }
  },
  methods: {
    register() {
      this.$store.dispatch("register", {email: this.email, userName: this.userName, password: this.password})
          .then(response => {
            if (response.ok) {
              this.$router.push({name: RouteTypes.HOME}); // TODO Came From irgendwo im Store speichern und dann hier einfuegen
            } else {
              alert("error: "+response.status); //TODO Error Page
            }
          });
    }
  }
}
</script>

<style scoped>
.login {
  text-align: center;
}
.login-wrapper {
  text-align: left;
  margin: 10px auto 10px auto;
  border: 3px solid green;
  background-color: #72ffcd;
}
.login-form {
}
.login-form-entry {
  padding: 10px 10px 10px 10px;
}
label {
  display: inline-block;
  width: 100px;
}
input {
  display: inline-block;
  width: 200px;
}
#userName {

}
#password {

}
#submit {

}
</style>
