<template>
  <img class="entry-control-button minimize-button" src="./assets/buttons/minimizeButton.png" alt="minimize" @click="minimize">
</template>

<script>
export default {
name: "Header"
}
</script>

<style scoped>

</style>
