<template>
<div class="test">
  <button @click="click">TEST-BUTTON</button>
</div>
</template>

<script>
export default {
  name: 'Test',
  props: {
    msg: String
  },
  methods: {
    click() {

    }
  }
}
</script>

<style scoped>
</style>
