<template>
<div class="current-video-info entry" v-if="currentVideo">
  <div class=" entry-content">
    <div class="entry-content-main">
      {{currentVideo.title}}
    </div>
    <div class="entry-content-smurf">
      <div class="artist" v-if="currentVideo.artist">
        , {{currentVideo.artist}}
      </div>
      <br>
      {{currentVideo.description}}
    </div>
  </div>
</div>
</template>

<script>
import {eventBus} from "@/main";
import {EVENT_STARTING_VIDEO} from "@/js/types/event-types";

export default {
  name: "CurrentVideoInfo",
  data() {
    return {
      currentVideo: null
    }
  },
  mounted() {
    eventBus.$on(EVENT_STARTING_VIDEO, (video) => {
      this.currentVideo = video;
    });
  },
}
</script>

<style scoped>
.current-video-info {
  width: 560px;
  margin: -3px 10px 10px 10px;
}
.artist {
  display: inline;
}
</style>