<template>
  <div class="collection-add">
    <div class="entry add-form collection-add-form" v-if="active">
      <form>
        <table>
          <tr>
            <td class="add-form-legend-td collection-add-form-legend-td">
              <label class="add-form-legend">title:</label>
            </td>
            <td class="add-form-field-td">
              <input class="add-form-field add-form-field-short collection-add-form-field" type="text" required v-model="title">
            </td>
          </tr>
          <tr>
            <td class="add-form-legend-td collection-add-form-legend-td">
              <label class="add-form-legend">link:</label>
            </td>
            <td class="add-form-field-td">
              <input class="add-form-field add-form-field-short collection-add-form-field" type="text" required v-model="link">
            </td>
          </tr>
          <!--
          <tr>
            <td class="add-form-legend-td"><label class="add-form-legend">artist:</label></td>
            <td class="add-form-field-td"><input class="add-form-field add-form-field-short" type="text" placeholder="optional" v-model="artist"></td>
          </tr>
          <tr>
            <td class="add-form-legend-td"><label class="add-form-legend">description:</label></td>
            <td class="add-form-field-td"><input class="add-form-field add-form-field-long" type="text" placeholder="optional" v-model="description"></td>
          </tr>
          -->
        </table>
        <div class="add-form-buttons collection-add-form-buttons">
          <img class="entry-control-button add-form-abort-button" src="../../assets/buttons/removeButton.png" alt="abort" @click="deactivate">
          <img class="entry-control-button add-form-submit-button" src="../../assets/buttons/checkButton.png" alt="submit" @click="submit">
        </div>
      </form>
    </div>
    <div class="wide-button add-button collection-add-button" v-else @click="activate">
      <img class="wide-button-image" src="../../assets/buttons/addButton.png" alt="activate-add-form">
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import {createVideo} from "@/js/video";

export default {
  name: "NextListAdd",
  data() {
    return {
      active: false,
      link: null,
      title: null,
      artist: null,
      description: null
    }
  },
  computed: {
  },
  methods: {
    ...mapActions({
      setAsTopPlayerVideo: "setAsTopPlayerVideo",
    }),
    reset() {
      //this.active = false:
      this.link = null;
      this.title = null;
      this.artist = null;
      this.description = null
    },
    activate() {
      this.active = true;
    },
    deactivate() {
      this.active = false;
    },
    submit() {
      const video = createVideo(this.title, this.link);
      this.setAsTopPlayerVideo(video);
      this.reset();
    },
  },
}
</script>

<style scoped>
.collection-add {

}
.collection-add-button {
  width: 558px !important;
  margin: 10px 10px 10px 10px !important;
}
.collection-add-form {
  width: 560px !important;
}
.collection-add-form-legend-td {
  width: 200px !important;
}
.collection-add-form-field {
  width: 360px !important;
}
.collection-add-form-buttons {
  width: 560px !important;
}
</style>
