<template>
  <div class="nextListEntry entry">
    <div class="video entry-content">
      <div class="entry-content-main">
        {{video.title}}
      </div>
      <div class="entry-content-smurf">
        <div class="artist" v-if="video.artist">
          , {{video.artist}}
          <br>
          {{video.description}}
        </div>
      </div>
    </div>
    <div class="control entry-control">
      <div class="control-part entry-control-part">
        <img class="entry-control-button" src="../../assets/buttons/upButton.png" alt="up" @click="up(index)">
        <img class="entry-control-button" src="../../assets/buttons/downButton.png" alt="down" @click="down(index)">
      </div>
      <div class="control-part entry-control-part">
        <img class="entry-control-button" src="../../assets/buttons/topButton.png" alt="top" @click="top">
        <img class="entry-control-button" src="../../assets/buttons/bottomButton.png" alt="bottom" @click="bottom">
      </div>
      <div class="control-part entry-control-part">
        <img class="entry-control-button" src="../../assets/buttons/playButton.png" alt="play" @click="play">
        <img class="entry-control-button" src="../../assets/buttons/removeButton.png" alt="remove" @click="remove">
      </div>
    </div>
  </div>
</template>

<script>
import {Video} from "@/js/classes/video";
import {eventBus} from "@/main";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "NextListEntry",
  props: {
    video: {
      type: Video,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      videosCount: "nxVideosCount"
    }),
  },
  methods: {
    ...mapActions({
      deleteVideo: "removeVideoFromPlayer",
      switchVideos: "switchNxVideos",
      setTopVideo: "setTopPlayerVideo",
      setBottomVideo: "setBottomNxVideo"
    }),
    up(index) { // Index as parameter needed because it is used in down()
      if (index < 1) return;
      const upIndex = index - 1;
      this.switchVideos({index1: upIndex, index2: index});
    },
    down(index) {
      const downIndex = index + 1;
      if (downIndex >= this.videosCount) return;
      this.up(downIndex);
    },
    top() {
      if (this.index < 1) return;
      this.setTopVideo(this.index);
    },
    bottom() {
      if (this.index >= this.videosCount) return;
      this.setBottomVideo(this.index);
    },
    play(videoId) {
      this.top();
      eventBus.$emit("play-next-video", videoId);
    },
    remove() {
      this.deleteVideo(this.index);
    }
  }
}
</script>

<style scoped>
  .nextListEntry {
    width: 560px;
  }
  .video {
  }
  .control {
  }
  .control-part {
  }
  .control-button {
  }
  .artist {
    display: inline;
  }
</style>