<template>
  <div class="wide-button add-button" @click="next">
    <img class="wide-button-image" src="../../assets/buttons/nextButton.png" alt="next">
  </div>
</template>

<script>
import {mapActions} from "vuex";
import {eventBus} from "@/main";
import constants from "@/js/types/event-types";

export default {
  name: "NextButton",
  methods: {
    ...mapActions({
      deleteVideo: "deleteNxVideo",
    }),
    next() {
      eventBus.$emit(constants.EVENT_PLAY_NEXT_VIDEO);
    }
  },
}
</script>

<style scoped>
.add-button {
  width: 558px;
  margin: 7px 10px 10px 10px;
}
</style>