<template>
  <div class="nextList">
    <ul class="entry-ul">
      <li class="entry-li" v-for="(video, index) in videos" :key="index">
        <NextListEntry :video="createVideo(video.id, video.link, video.title,
        video.artist, video.description)" :index="index"></NextListEntry>
      </li>
      <li>
        <NextListAdd></NextListAdd>
      </li>
    </ul>
  </div>
</template>

<script>
import NextListEntry from "@/components/player/NextListEntry";
import {Video} from '@/js/classes/video';
import {mapGetters, mapActions} from "vuex";
import NextListAdd from "@/components/player/NextListAdd";

export default {
  name: 'NextList',
  components: {
    NextListAdd,
    NextListEntry
  },
  props: {
  },
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters({
      videos: "nxVideos"
    }),
  },
  methods: {
    ...mapActions({
      setAsNextVideo: "setAsTopPlayerVideo"
    }),
    createVideo(id, link, title, artist, description) {
      return new Video(id, link, title, artist, description);
    },
  },
}
</script>

<style scoped>
.nextList {
}
</style>
