<template>
<div class="player wrapper">
  <YouTube></YouTube>
  <CurrentVideoInfo></CurrentVideoInfo>
  <NextButton></NextButton>
  <NextList></NextList>
</div>
</template>

<script>
import YouTube from "@/components/player/YouTube.vue";
import NextList from "@/components/player/NextList";
import NextButton from "@/components/player/NextButton";
import CurrentVideoInfo from "@/components/player/CurrentVideoInfo";

export default {
  name: "Player",
  components: {CurrentVideoInfo, NextButton, NextList, YouTube},
  data() {
    return {
    }
  }
}
</script>

<style scoped>
</style>