<template>
<div class="you-tube">
  <div id="you-tube-player"></div>
</div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";
import {eventBus} from "@/main";
import constants, {EVENT_STARTING_VIDEO} from "@/js/types/event-types";

export default {
  name: "YouTube",
  props: {
  },
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters({
      videos: "nxVideos",
      nextVideo: "nxVideo",
      getRandomVideo: "getRandomVideo",
    }),
    player() {
      return this.$player;
    }
  },
  mounted() {
    eventBus.$on(constants.EVENT_PLAY_NEXT_VIDEO, () => {
      this.next();
    });
    eventBus.$on(constants.EVENT_VIDEO_ENDED, () => {
      this.next();
    });
    eventBus.$on(constants.EVENT_PLAY_VIDEO, video => {
      this.playVideo(video);
    });
    this.loadYouTubeIFrame();
  },
  methods: {
    ...mapActions({
      setAsNextVideo: "setAsTopPlayerVideo",
      removeVideoFromPlayer: "removeVideoFromPlayer",
      nextRandomVideo: "nextRandomVideo",
      resetRandomCounter: "resetRandomCounter"
    }),
    hasVideos() {
      return this.videos.length > 0;
    },
    play() {
      this.player.playVideo();
    },
    pause() {
      this.player.pauseVideo();
    },
    /* Doesn't need to get called when switching Videos. Only for rare occasions when the user doesnt want to watch
    videos anymore */
    stop() {
      this.player.stopVideo();
    },
    next() {
      let video = this.nextVideo;
      if (video == null) {
        this.nextRandomVideo();
        video = this.getRandomVideo;
        if (video == null) {
          alert("The queue is empty! Add more videos manually or automatically play random videos by activating collections.");
          return;
        }
      } else {
        this.removeVideoFromPlayer(0);
      }
      this.playVideo(video);
    },
    playVideo(video) {
      this.resetRandomCounter(video.id);
      this.player.loadVideoById(video.link);
      eventBus.$emit(EVENT_STARTING_VIDEO, video);
    },
    loadYouTubeIFrame() {
      if (this.$player !== undefined) {
        window.onYouTubeIframeAPIReady();
      }
    }
  }
}
</script>

<style scoped>
.you-tube {
  padding: 10px 10px 0 10px;
}
#you-tube-player {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: aqua;
}
</style>
