<template>
<div id="app">
  <div id="app-header">
    <div id="headline">The Player</div>
    <router-link class="nav-button" to="/">home</router-link>

    <button class="nav-button" v-if="this.$store.getters.loggedIn" @click="logout">logout</button>
    <span v-else>
      <router-link class="nav-button" to="/login">login</router-link>
      <router-link class="nav-button" to="/register">register</router-link>
    </span>

    <!--
      <button class="nav-button" @click="test">testestest</button>
    -->
  </div>
  <div id="body">
    <router-view/>
  </div>
</div>
</template>

<script>
export default {
  name: 'App',
  components: {
  },
  data() {
    return {
    }
  },
  created() {
    this.$store.dispatch("init");
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
    test() {
      this.$store.dispatch("connect");
    }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}
#app-header {
  background-color: #20d99b;
  height: 70px;
  padding: 0 5px 0 5px;
}
#headline {
  display: inline-block;

  text-align: left;
  vertical-align: bottom;
  padding: 0 30px 0 5px;
  margin: 0 0 0 0;

  font-size: 60px;
  letter-spacing: -2px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.nav-button {
  display: inline-block;
  text-align: center;


  background-color: #46ffc0;
  border: 1px solid black;
  padding: 10px 25px 10px 25px;
  margin: 10px 5px 10px 5px;

  font-size: 25px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;

  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.nav-button:hover {
  background-color: #72ffcd;
}
.nav-button:active {
  /*todo padding: 12px 25px 6px 25px;*/
}
#body {
  padding: 0 5px 0 5px;
}
</style>
