<template>
<div>
  <img class="entry-control-button"
       :class = "{red: clicked}"
       src="../../assets/buttons/deleteButton.png" alt="delete" @click="click">
  <div class="popup" v-if="clicked">
    Delete? Click again!
  </div>
</div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: 'DeleteButton',
  props: {
    deleteFunction: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      clicked: false
    }
  },
  computed: {
    ...mapGetters({
    }),
  },
  methods: {
    ...mapActions({
    }),
    click() {
      if (this.clicked) {
        this.clicked = false;
        this.deleteFunction();
      } else {
        this.clicked = true;
        setTimeout(() => { // todo wenn man mehrere schnell nacheinander loescht lauft der timer des bereits geloeschten weiter und deaktiviert das loeschen vom naechsten
          this.clicked = false;
        }, 3000);
      }
    },
  },
}
</script>

<style scoped>
.red {
  background: #c0381a;
}
.red:hover {
  background: #c0381a;
}
.popup {
  background: #c0381a;
  color:white;
  width : auto;
  height : 18px;
  padding: 6px 6px 6px 6px;
  position: absolute;
  transform: translate(35px, -31px);
}
</style>