<template>
<div class="collection wrapper" v-if="collection">
  <div class="wrapper-headline">
    collection {{collection.name}}
  </div>
  <ul class="entry-ul">
    <li class="entry-li" v-for="(video, index) in videos" :key="index">
      <CollectionEntry :collectionId="collection.id" :video="createVideo(video.id, video.link, video.title,
      video.artist, video.description)"></CollectionEntry>
    </li>
  </ul>
  <CollectionAdd></CollectionAdd>
</div>
</template>

<script>
import CollectionEntry from "@/components/collection/CollectionEntry";
import {Video} from "@/js/classes/video";
import {mapGetters} from "vuex";
import CollectionAdd from "@/components/collection/CollectionAdd";

export default {
  name: "Collection",
  components: {CollectionAdd, CollectionEntry},
  props: {
  },
  data() {
    return {
    }
  },
  mounted() {
  },
  computed: {
    ...mapGetters({
      getCollectionById: "getCollectionById",
      collectionId: "shownCollectionId"
    }),
    collection() {
      return this.getCollectionById(this.collectionId);
    },
    videos() {
      return this.collection.videos;
    },
  },
  methods: {
    createVideo(id, videoId, title, artist, description, link) {
      return new Video(id, videoId, title, artist, description, link);
    },
    minimize() {
      //TODO
    },
  },
}
</script>

<style scoped>
</style>