<template>
<div class="collection-add">
  <div class="entry add-form" v-if="active">
    <form>
      <table>
        <tr>
          <td class="add-form-legend-td"><label class="add-form-legend">title:</label></td>
          <td class="add-form-field-td"><input class="add-form-field add-form-field-short" type="text" required v-model="title"></td>
        </tr>
        <tr>
          <td class="add-form-legend-td"><label class="add-form-legend">link:</label></td>
          <td class="add-form-field-td"><input class="add-form-field add-form-field-short" type="text" required v-model="link"></td>
        </tr>
        <!--
        <tr>
          <td class="legend-td"><label class="legend">artist:</label></td>
          <td class="field-td"><input class="field field-short" type="text" placeholder="optional" v-model="artist"></td>
        </tr>
        <tr>
          <td class="legend-td"><label class="legend">description:</label></td>
          <td class="field-td"><input class="field field-long" type="text" placeholder="optional" v-model="description"></td>
        </tr>
        -->
      </table>
      <div class="add-form-buttons">
        <img class="entry-control-button add-form-abort-button" src="../../assets/buttons/removeButton.png" alt="abort" @click="deactivate">
        <img class="entry-control-button add-form-submit-button" src="../../assets/buttons/checkButton.png" alt="submit" @click="submit">
      </div>
    </form>
  </div>
  <div class="wide-button add-button" v-else @click="activate">
    <img class="wide-button-image" src="../../assets/buttons/addButton.png" alt="activate-add-form">
  </div>
</div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import {createVideo} from "@/js/video";

export default {
  name: "CollectionAdd",
  data() {
    return {
      active: false,
      link: null,
      title: null,
      artist: null,
      description: null
    }
  },
  computed: {
    ...mapGetters({
      collection: "shownCollectionId",
    }),
  },
  methods: {
    ...mapActions({
      newVideo: "newVideo",
    }),
    reset() {
      //this.active = false:
      this.link = null;
      this.title = null;
      this.artist = null;
      this.description = null
    },
    activate() {
      this.active = true;
    },
    deactivate() {
      this.active = false;
    },
    submit() {
      const video = createVideo(this.title, this.link);
      this.newVideo({collectionId: this.collection, video});
      this.reset();
    },
  },
}
</script>

<style scoped>
.collection-add {

}
</style>
