<template>
<div class="collection-entry entry">
  <div class="video entry-content">
    <div class="entry-content-main">{{video.title}}</div>
    <div class="entry-content-smurf">
      <div class="artist" v-if="video.artist">, {{video.artist}}</div><br>
      {{video.description}}
    </div>
  </div>
  <div class="entry-control">
    <div class="entry-control-part">
      <img class="entry-control-button" src="../../assets/buttons/topButton.png" alt="top" @click="top">
      <img class="entry-control-button" src="../../assets/buttons/bottomButton.png" alt="bottom" @click="bottom">
    </div>
    <div class="entry-control-part">
      <img class="entry-control-button" src="../../assets/buttons/playButton.png" alt="play" @click="play">
      <DeleteButton :delete-function="deleteVideo"></DeleteButton>
    </div>
  </div>
</div>
</template>

<script>
import {Video} from "@/js/classes/video";
import {eventBus} from "@/main";
import {mapActions, mapGetters} from "vuex";
import DeleteButton from "@/components/delete/DeleteButton";

export default {
  name: "CollectionEntry",
  components: {DeleteButton},
  props: {
    collectionId: {
      type: String,
      required: true
    },
    video: {
      type: Video,
      required: true
    },
  },
  computed: {
    ...mapGetters({
      videosCount: "nxVideosCount"
    }),
    id() {
      return this.video.id;
    },
  },
  methods: {
    ...mapActions({
      setAsTopVideo: "setAsTopPlayerVideo",
      setAsBottomVideo: "setAsBottomNxVideo",
    }),
    top() {
      this.setAsTopVideo(this.video);
    },
    bottom() {
      this.setAsBottomVideo(this.video);
    },
    play() {
      this.top();
      eventBus.$emit("play-next-video", this.id);
    },
    deleteVideo() {
      const collectionId = this.collectionId;
      const videoId = this.id;
      this.$store.dispatch("removeVideo", {collectionId: collectionId, videoId: videoId});
    }
  }
}
</script>

<style scoped>
.artist {
  display: inline;
}
.collection-entry {
}
.video {

}
.control {

}
</style>
